.buttonEdit {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: large;
  font-weight: 700;
  letter-spacing: 0.5px;
  border: 3px solid #8371eb;
  background-color: #aaa9ee;
  transition: background-color 0.65s, border 0.65s, color 0.65s;
}

.buttonEdit:hover {
  border: 3px solid rgb(187, 220, 244);
  background-color: rgb(62 126 172);
  color: #fff;
}
