.DateSortButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.DateSortButton input {
  display: none;
}

.DateSortButton label {
  font-size: large;
  line-height: 1.5;
  letter-spacing: 0.3px;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.DateSortButtonDecoration {
  padding: 3px 10px;
  border: 3px solid #d5756d;
  color: #d5756d;
  border-top: none;
  cursor: pointer;
  font-weight: 600;
  transition: border 0.65s, background-color 0.65s;
}
.DateSortButtonDecoration:hover {
  border: 3px solid #3e7eac;
  background-color: rgba(126, 116, 134, 0.237);
  border-top: none;
}

.DateSortButtonDecorationActive {
  padding: 3px 10px;
  border: 3px solid #3e7eac;
  color: #3e7eac;
  border-top: none;
  font-weight: 700;
}

@media screen and (max-width: 576px) {
  .DateSortButton {
    gap: 10px;
  }

  .DateSortButton label {
    font-size: medium;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .DateSortButton {
    gap: 20px;
  }

  .DateSortButton label {
    font-size: medium;
  }
}

@media screen and (min-width: 993px) {
  .DateSortButton {
    gap: 30px;
  }

  .DateSortButton label {
    font-size: large;
  }
}
