.addButtonConteiner {
  text-align: center;
  padding: 15px 0 15px 0;
}

.addButtonConteiner button {
  background-color: #3e7eac;
  width: 100px;
  height: 50px;
  border: 3px solid #f2f3f5;
  color: #f2f3f5;
  text-align: center;
  border-radius: 15px;
  font-size: large;
  font-weight: 700;
  line-height: 2.5;
  letter-spacing: 0.5px;
  transition: color 0.65s, background-color 0.65s, border 0.65s;
}
.addButtonConteiner button:hover {
  color: #111;
  background-color: #dea0bb;
  border: 3px solid #3e7eac;
}
