.welcomeConteiner {
  text-align: center;
  margin-top: 20px;
}

.welkomePanel {
  justify-content: center;
}

.toggleConteiner {
  float: right;
  margin-top: -50px;
}

.welcomeConteiner h1 {
  margin-bottom: 10px;
}

.welcomeConteiner h3 {
  margin-bottom: 15px;
}
