.inputConteiner input {
  background-color: #fff;
  width: 500px;
  height: 35px;
  border: 0px;
  padding: 5px 10px;
  border-radius: 5px;
}
.inputConteiner input:hover,
.inputConteiner input:focus {
  background-color: #dfddfd;
}

.inputConteiner button {
  background-color: #94bbe9;
  width: 85px;
  height: 35px;
  margin-left: 20px;
  border: 1px solid #eeaeca;
  border-radius: 15px;
}
.inputConteiner button:hover {
  background-color: #dea0bb;
  border: 1px solid #80a4cc;
}
