.list {
  list-style: none;
  text-align: left;
  border: 1px solid #fff;
  border-radius: 8px;
  background-color: #e9d0b5;
  padding: 10px 10px 10px 10px;
  transition: background-color 0.35s;
}
.list:hover {
  background-color: #eed9c4;
}

.takstList {
  word-wrap: break-word;
  white-space: normal;
  font-size: medium;
  letter-spacing: 0.3px;
}

.buttonConteiner {
  display: flex;
  flex-direction: row;
  gap: 10px;
  float: left;
}

.list textarea {
  background-color: #fff;
  min-width: 98%;
  height: 100px;
  border: 0px;
  padding: 0 6px;
  font-size: large;
  line-height: 1.5;
  letter-spacing: 0.3px;
  resize: vertical;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: background-color 0.25s;
}
.list textarea:hover,
.list textarea:focus {
  background-color: #dfddfd;
}

.buttonConteiner input {
  width: 30px;
  height: 30px;
  margin: 12px 0 0 10px;
}

.dateCreate {
  float: right;
  margin: 20px 0 0 0;
}
