ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 35px;
  animation: 2s linear 1s infinite running slidein;
}

.list {
  list-style: none;
  text-align: left;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #e9d0b5;
  padding: 10px 10px 10px 10px;
}

.takstList {
  word-wrap: break-word;
  white-space: normal;
}

.buttonConteiner {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.buttonEdit,
.buttonRemove {
  margin: 10px 0 0 0;
  padding: 8px 10px;
  border-radius: 5px;
  height: 35px;
}

.buttonEdit {
  border: 1px solid #8371eb;
  background-color: #aaa9ee;
}
.buttonEdit:hover {
  border: 1px solid #7a57e4;
  background-color: #a38bef;
}

.buttonRemove {
  border: 1px solid #eb7171;
  background-color: #eea9a9;
}
.buttonRemove:hover {
  border: 1px solid #e45757;
  background-color: #ef8b8b;
}
