:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background: rgb(233, 139, 130);
  background: linear-gradient(
    165deg,
    rgb(233, 139, 130, 1) 33%,
    rgba(62, 126, 172, 1) 100%
  );
  background-attachment: fixed;
  background-size: cover;
}

.taskLisrConteiner {
  display: flex;
  flex-direction: column;
  background-color: #ffdcd4;
  padding: 20px;
  border-radius: 35px;
}

button {
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 576px) {
  .taskLisrConteiner {
    margin: 50px 20px;
    min-width: 280px;
  }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
  .taskLisrConteiner {
    margin: 80px 50px;
  }
}

@media screen and (min-width: 993px) {
  .taskLisrConteiner {
    margin: 100px 100px;
  }
}
